<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Search</title>

    <!-- Bootstrap -->
    <link href="dist/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <h1>Search Github Repositories</h1>
        <div class="row-fluid">
            <div class="col-lg-12">
                <form class="form-inline" id="searchForm">
                    <div class="form-group">
                        <label for="username">Github Username</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="danbruce" type="text" id="username" value="danbruce">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-3">
                <h2>Sort and Filters</h2>
                <ul id="filtersList" class="list-unstyled"></ul>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Results</h2>
                <ul class="list-group" id="searchResults">

                </ul>
            </div>
        </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/app.js"></script>
    <!-- Handlebar templates -->
    <script id="repoTemplate" type="text/x-handlebars-template">
        <li class="list-group-item repo" id="repo_{{ repo.id }}">
            <h3 class="title">
                {{ repo.name }}
                <small>
                    <a href="{{ repo.html_url }}" target="_blank"><i class="fa fa-link"></i></a>
                </small>
            </h3>
            {{#if repo.description}}
            <p class="description">
                {{ repo.description }}
            </p>
            {{/if}}
            {{#if repo.language}}
            <p>Language:
                {{#if langImage}}
                    <img src="{{ langImage.src }}"
                         class="languageIcon"
                         width="{{ langImage.width }}"
                         height="{{ langImage.height }}"
                         alt="{{ repo.language }}"
                         data-toggle="tooltip"
                         data-placement="right"
                         title="{{ repo.language }}">
                {{else}}
                    {{ repo.language }}
                {{/if}}
            </p>
            {{/if}}
        </li>
    </script>
    <script id="filtersTemplate" type="text/x-handlebars-template">
        {{#each filters}}
            <li>{{@key}}:</li>
            <form>
                {{#each this}}
                <div class="checkbox">
                    <label>
                      <input type="checkbox" checked="checked" data-filterName="language" data-filterValue="{{@key}}">
                      {{@key}}
                    </label>
                  </div>
                {{/each}}
            </form>
        {{/each}}
    </script>
</body>
</html>
